h1{
    display: flex;
    justify-content: center;
    display: inline;
    color: black; 
    font-size: 2.5rem; 

}

h2{
    justify-content: center; 
    display: flex; 
    font-size: xx-large;
}
.fundo{
    background-color: white;
    display: flex;
    background-size: cover;
}
/* Block */
.caixa_block{
    background-color: white;
    height: 500px;
    width: 300px;
    margin-left: 160px;
   
}

.caixa_um{
    background-color: white;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.box_block{
    border: solid 2px rgb(253, 171, 185);
    border-radius: 10px;
    background-color: rgb(253, 171, 185);
    height: 430px;
    width: 245px;
}

.box1_mini{
    border: solid 2px #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 70px;
    width: 70px;
}
/* Block */


/* Inline */
.caixa_inline{
    background-color: white;
    height: 600px;
    width: 600px;
    margin-left: 80px;
}

.caixa_dois{
    background-color: white;
    height: 600px;
    width: 600px;
}

.box_inline{
    border: solid 2px rgb(253, 171, 185);
    background-color: rgb(253, 171, 185);
    height: 150px;
    width: 600px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.box2_mini{
    border: solid 2px #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 30px;
    width: 120px;
}

.box2_v2{
    border: solid 2px #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 30px;
    width: 80px;
}

.box2_v3{
    border: solid 2px #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 30px;
    width: 35px;
}


/* inline */

/* inline-block */
.container_inline-block{
    background-color: white;
    height: 330px;
    width: 500px;
    display: flex;
    justify-content: center;
}
    
.caixa_inline-block{
    background-color: white;
    height: 500px;
    width: 500px;
    margin-left: 100px;
}

.box_inline-block{
    border: solid 2px rgb(253, 171, 185);
    border-radius: 10px;
    background-color:rgb(253, 171, 185);
    height: 430px;
    width: 490px;
    display: flex;
    justify-content: center;
}


.box3_v1{
    border: solid 2px #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 70px;
    width: 90px;
}

.box3_v2{
    border: solid 2px #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 70px;
    width: 70px;
}

.box3_v3{
    border: solid 2px #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 97px;
    width: 70px;
}

.box3_v4{
    border: solid 2px #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 30px;
    width: 100px;
}

.span{
    border: solid 2px black;
}


.container_h1 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100px; /* Ajuste a altura conforme necessário */
    background-color: white; /* Cor do fundo do contêiner */
}